<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
			.landing-image {
				background-image: url('/media/big-sur-lone-tree-coast.jpg');
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			</style>

		</head>
		<body class="landing-image">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/blog">Posts</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</nav>

			<div class="container" style="color:white;display:inline;background-position:center center;">{{ content }}</div><!-- /.container -->

			<footer>
				<ul>
					<li><a href="mailto:j.p.neylon@gmail.com">j.p.neylon@gmail.com</a></li>
					<li><a href="https://github.com/jpneylon">github.com/jpneylon</a></li>
				</ul>
			</footer>
		</body>
	</html>
