<!-- stasis - 2019-11-06 -->

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
			body, html {
			  height: 100%;
			}
			.landing-image {
				background-image: url('/media/big-sur-lone-tree-coast.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.particles-js {
		    background-image: url(/media/big-sur-lone-tree-coast.jpg);
		    background-size: cover;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
			}
			</style>
			<script src="https://unpkg.com/vue-particles"></script>
		</head>
		<body class="landing-image">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/blog">Posts</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</nav>

			<div id="particles-instance-2804"
						color="#ffffff"
						particleopacity="0.7"
						linescolor="#ffffff"
						particlesnumber="80"
						shapetype="circle"
						particlesize="5"
						lineswidth="2"
						linelinked="true"
						lineopacity="0.4"
						linesdistance="150"
						movespeed="3"
						hovereffect="true"
						hovermode="grab"
						clickeffect="true"
						clickmode="push"
						class="particles-js">

						<canvas class="particles-js-canvas-el"
										width="595"
										height="938"
										style="width: 100%; height: 100%;">
						</canvas>
				</div>

			<div class="container" style="color:white;display:inline;background-position:center center;">{{ content }}</div><!-- /.container -->

			<footer>
				<ul>
					<li><a href="mailto:j.p.neylon@gmail.com">j.p.neylon@gmail.com</a></li>
					<li><a href="https://github.com/jpneylon">github.com/jpneylon</a></li>
				</ul>
			</footer>
		</body>
	</html>
